/* .list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 10px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4px grey; */
/* li { */
/* width: calc(25% - 12px);
    height: 200px;
    object-fit: cover; */
/* 
    padding: 25px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 4px grey; */
/* } */

.gallery {
  margin-top: 70px; /* отступ для зафиксированного input */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 16px;
  padding: 0;
  margin: 0;
}
